.cta4 {
    margin-left: 10px;
    border-radius: $radius;
    background-image: $Radient;
    padding: $PaddingXL;
    display: inline-block;
    text-decoration: $none;
    color: $white;
    padding: 8px 16px;
    font-size: $Size16;
    font-family: $Poppins;
}