.Biographie {
    padding-top: 80px;
    text-align: start;
    display: flex;

    article {
        width: 50%;
    }
}

.Biographietexte {
            color:$noir;
    background: url(/assets/img/background-we-are.png);
    p {
        font-family: $Poppins;
        font-weight: $light;
        width: 100%;
        font-size: $Size16;
        color: $grey;
        padding: 20px 400px 20px 0px;
    }

    span {
        color: #7E76F9;
        font-family: $Lato;
        font-size: $Size20;
        margin: revert;
    }
}

section {
    %message-shared {
    padding-top: 50px;
    }
    .soustitre {
        @extend %message-shared;
        color: #554AFF;
    }

    h2 {
        @extend %message-shared;
        font-family: $Poppins;
        font-size: $Size50;
    }
        h3 {
        font-family: $Poppins;
        font-size: $Size30;
        font-weight: $bold;
    }
}