@media (max-width:360px) {
    .ContainerPrices {
        display: block;
    }
    
    .Prices {
        padding: 15px;
        margin: 15px;
        width: 90%;
    }

    .SecPrices {
        padding-bottom: 25px;
    }

    .WWO {
        font-size: 30px;
    }
}