// COLORS
$red: red;
$white :white;
$black:black;
$bleu:#1000FF;
$grey:grey;
$Radient:linear-gradient(to left, #6156f9, #1a129f);
$white: white;
$noir:#42495B;

// PADDINGS
$PaddingXL : 1% 2%;

// DISPLAY
$none: none;

// BORDER
$radius: 25px;

// FONTS
$Lato: 'Lato',
sans-serif;
$Dosis: 'Dosis',
sans-serif;
$Lobster: 'Lobster',
sans-serif;
$Poppins: 'Poppins',
sans-serif;

// FONTS SIZE
$Size50: 50px;
$Size40: 40px;
$Size30: 30px;
$Size28: 28px;
$Size25: 25px;
$Size20: 20px;
$Size18: 18px;
$Size16: 16px;
$Size12: 12px;

// FONTS STYLE
$bold: bold;
$medium:medium;
$normal:normal;
$light:100;